<div class="container">


  <div class="buy-order" *ngIf="idBuyOrder === undefined">
    <form novalidate [formGroup]="formOrder" (ngSubmit)="confirmOrder()">

      <h5>Sua Compra</h5>
      <hr />

      <div *ngIf="cartService.getCartItems().length; else emptyCart">

        <div *ngFor="let item of cartItems" class="form-row"
          style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          <div class="form-group col-sm-1">
            <img [src]="item.dealImage.url" class="img-fluid">
          </div>
          <div class="form-group col-sm-6">
            {{ item.dealTitle }}
            <br />
            {{ item.dealDescription }}
          </div>

          <div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-link" (click)="decreaseCartItem(item)">-</button>
                {{ item.quantity }}
                <button type="button" class="btn btn-link" (click)="increaseCartItem(item)">+</button>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-3 d-flex justify-content-end">
            {{ item.quantity * item.dealValue | currency:'BRL' }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col d-flex justify-content-end">
            <h4>Total do pedido: {{ cartService.getCartTotalValue() | currency:'BRL' }}</h4>
          </div>
        </div>
        <br />

      </div>

      <ng-template #emptyCart>
        <div class="form-row d-flex justify-content-center"
        style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          Seu carrinho está vazio!
        </div>
      </ng-template>

      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-6">
          <input type="text" class="form-control" placeholder="Endereço" autocomplete="off" formControlName="address">
          <small class="form-text text-danger"
            *ngIf="formOrder.get('address').invalid && formOrder.get('address').touched">Endereço inválido</small>
        </div>

        <div class="form-group col-md-2">
          <input type="text" class="form-control" placeholder="Número" autocomplete="off" formControlName="num">
          <small class="form-text text-danger"
            *ngIf="formOrder.get('num').invalid && formOrder.get('num').touched">Número
            inválido</small>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Complemento" autocomplete="off"
            formControlName="complement">
          <small class="form-text text-danger"
            *ngIf="formOrder.get('complement').invalid && formOrder.get('complement').touched">Complemento
            inválido</small>
        </div>

      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-3">

          <select name="paymentMethod" class="form-control" formControlName="paymentMethod">

            <option value="">Selecione uma opção</option>
            <option value="Dinheiro">Dinheiro</option>
            <option value="Débito">Débito</option>

          </select>
          <small class="form-text text-danger"
            *ngIf="formOrder.get('paymentMethod').invalid && formOrder.get('paymentMethod').touched">Selecione uma forma
            de
            pagamento</small>

        </div>
        <div class="col text-center">
          <button type="submit" class="btn btn-primary btn-lg">
            Cofirmar compra
          </button>
        </div>
      </div>

    </form>

    <hr />
  </div>

  <div class="buy-order" *ngIf="idBuyOrder !== undefined">
    <app-buy-order-success [idBuyOrder]="idBuyOrder"></app-buy-order-success>
  </div>

</div>